.message {
    padding: .5em;
    margin: 0;
    text-align: left;
}

.author-name {
    color: grey;
    font-size: .8em;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: right; /* depends on incoming */
}